<!-- this is the creating of the page -->
<html>
  <!-- this is setting the backround color of the page -->
  <body style="background-color:rgb(159, 214, 231);"> 
    <title>Coach Menu</title>
    <!-- this is the title for the coach menu -->
    <center><h1 style="font-size: 3rem; color: #c68824">Coach Menu</h1></center>
    <!-- this is the link to return back to the home page -->
    <a href="index"> Home (LOGOUT) </a>
    <!-- this is the title welcoming the coach signed in -->
    <center><h2 style="font-size: 3rem; color: #c68824">Hello, {{coachName }}. Your coachID is {{coachID }} </h2></center>
    <!-- creates a selection text box-->
    <center><form action = "{{ url_for('coach') }}" style="font-size: 4rem; color: #000000" method = "post">Coach Choices:</a>
      <br>
      <!-- all the options for the coach to veiw -->
      <center><select name="option" id="option" style="font-size: 3rem; color: #000000">
        <option value="league">View League Games</option>
        <option value="team">Team Stats</option>
        <option value="coaches">View Other Coaches</option>
        <option value="standings">View Standings</option>
        <option value="goals">View All Goals</option>
      </select></center>
      <!-- spacing -->
      <br>
      <br>
      <!-- creates a box and changes the the selected view when clicked -->
      <input type="submit" value="submit" style="font-size: 3rem; color: #000000">
    </form></center>
  </body>
</html>
