<html>
<title>Delete Game</title>
<h1>Select a GameID to delete</h1>

<a href='teams'>Back</a>
<br>
<br>
<form action = "{{ url_for('delete_game') }}" method = "post">Choose GameID to Delete: </a>

  <br>

  <label for="gameID">
    <i class="fas fa-user"></i>
    </label>
    <input type="text" name="gameID" placeholder="GameID" id="gameID" required>

    <input type="submit" value='submit'>
    <div class="msg">{{ msg }}</div>
  </form>

<table>
  <thread>
    <tr>
      <th>gameID</th>
      <th>homeID</th>
      <th>Team Name</th>
      <th>Home Score</th>
      <th>awayID </th>
      <th>Team Name</th>
      <th>Away Score</th>
    </tr>
    <tbody>
      {% for row in games %}
      <tr>
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
        <td>{{row[3]}}  </td>
        <td>{{row[4]}}</td>
        <td>{{row[5]}}</td>
        <td>{{row[6]}}</td>
      </tr>
      {% endfor %}
      </tbody>
    </thread>
</table>

</html>
