<!-- this is the creating of the page -->
<html>
  <!-- this is setting the backround color of the page -->
  <body style="background-color:rgb(159, 214, 231);"> 
    <!-- this is for the title -->
    <center><title  style="font-size: 3rem; color: #000000">Edit Game</title></center>
    <center><h1>Edit Match Statistics</h1></center>
    <a href="teams" style="font-size: 2rem; color: #ff0000"> Back </a>
    <br>
    <!-- This creates a box for users to insert a gameID and get that teams stats as well as edit -->
    <center><form style="font-size: 2rem; color: #000000" action = "{{ url_for('edit_game') }}" method = "post">Choose GameID: </a>
      <!-- the br 's are all spacers for style and looks -->
      <br>
      <br>
      <label for="gameID">
        <i class="fas fa-user"></i>
      </label>
      <input style="font-size: 2rem; color: #000000" type="text" name="gameID" placeholder="GameID" id="gameID" required>
      <input style="font-size: 2rem; color: #000000" type="submit" value="Continue">
      <div class="msg">{{ msg }}</div>
    </form></center>
    <!-- the br 's are all spacers for style and looks -->
    <br>
    <br>
    <!-- creates a table to displays that the current information is -->
    <center><h3 style="font-size: 2rem; color: #000000">Below are all the games that your team has been apart of:</h3></center>
    <center><table style="font-size: 2rem; color: #000000">
      <tr>
        <th>gameID</th>
        <th>homeID</th>
        <th>awayID</th>
        <th>homeScore</th>
        <th>awayScore</th>
      </tr>
      {% for row in data %}
      <tr>
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
        <td>{{row[3]}}</td>
        <td>{{row[4]}}</td>
      </tr>
      {% endfor %}
    </table></center>
  </body>
</html>
