<html>
<title>Final Step in Editing Match</title>
<h1>Edit Player Stats for Match!</h1>
<a href='teams'>Back</a>
<br>
<br>
<body>
  Insert PlayerID for each goal they score.
  <br>
  For example: 2 Continue Game, 3 Continue Game, 2 Continue Game, 6 Continue Game, 2 Save Game
  <br>
  This would say Player 2 scored 3 goals, player 3 scored 1 goal, and player 6 scored 1 goal.
  <br>
  This would then be saved for the game information, and the winner and loser will be determined
  with the amount of goals scored for each team. If there is a tie, no team will gain a win or loss. The game can be edited later to make sure a team wins, and loses.
  <br>
  When PlayerID then Coninue Game is selected, the goal is still saved completely.
  <br>
  The only real difference between Continue Game and Save Game is that Continue Game is selected with the intent to add more goals, while Save will put the team back to the Teams Menu.
  <br>
  However, a team may click Continue Game then Back, and the game will be saved still.
  Again, Save is more convient when the game is completed, so it will take the team back to the teams menu. By using continue, goals will still be saved.
</body>
<br>
<h2> TeamID {{teamID }} with score of {{homeScore}}</h2>
<h2> TeamID {{otherID }} with score of {{awayScore}}</h2>
<br>
<br>
<form action = "{{ url_for('edit_game_advanced') }}" method = "post">Choose PlayerID who scored: </a>

  <br>

  <label for="playerID">
    <i class="fas fa-user"></i>
    </label>
    <input type="text" name="playerID" placeholder="PlayerID" id="playerID" required>

    <select name="option" id="option">
      <option value="continue">Continue Game</option>
      <option value="save">Save Game</option>
    </select>

      <input type="submit" value="Next" name='save' id='save'>
      <div class="msg">{{ msg }}</div>
  </form>



<h3>List of Players available in this game </h3>
<p>The players on your team have the teamID of {{teamID }} in the teamID column.</p>

<p>Your Players</p>
<table>
  <thread>
    <tr>
      <th>PlayerID</th>
      <th>Name</th>
      <th>Age</th>
      <th>Position</th>
      <th>Total Goals</th>
      <th>teamID</th>
    </tr>
    <tbody>
      {% for row in data1 %}
      <tr>
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
        <td>{{row[3]}}</td>
        <td>{{row[4]}}</td>
        <td>{{row[5]}}</td>
      </tr>
      {% endfor %}
      </tbody>
    </thread>
</table>

<br>
<p>Opponent Players</p>
<table>
  <thread>
    <tr>
      <th>PlayerID</th>
      <th>Name</th>
      <th>Age</th>
      <th>Position</th>
      <th>Total Goals</th>
      <th>teamID</th>
    </tr>
    <tbody>
      {% for row in data %}
      <tr>
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
        <td>{{row[3]}}</td>
        <td>{{row[4]}}</td>
        <td>{{row[5]}}</td>
      </tr>
      {% endfor %}
      </tbody>
    </thread>
</table>


</html>
