<html>
<title>Personal Stats</title>
<h1>Stats for {{playerName }}.</h1>
<a href="players">Back</a>


<p>Your Information</p>
<table>
  <thread>
    <tr>
      <th>PlayerID</th>
      <th>Goals</th>
      <th>Age</th>
      <th>Position</th>
      <th>TeamID</th>
    </tr>
    <tbody>
      {% for row in stats %}
      <tr>
        <td>{{row[0]}}</td>
        <td>{{row[4]}}</td>
        <td>{{row[2]}}</td>
        <td>{{row[3]}}</td>
        <td>{{row[5]}}</td>
      </tr>
      {% endfor %}
      </tbody>
    </thread>
</table>

</html>
