<html>
<title>Team Standings</title>
<h1>Here are the standings for this league</h1>
<a href='teams'>Back</a>
<p>The standings are sorted by Total Wins First, then total Goals, then TeamID if those are both the same.</p>

<table>
  <thread>
    <tr>
      <th>Place</th>
      <th>teamID</th>
      <th>Team Name</th>
      <th>Team City</th>
      <th> Wins </th>
      <th>Losses</th>
      <th>Total Goals</th>
    </tr>
    <tbody>
      {% for row in standings %}
      <tr>
        <td>{{row[7]}}</td>
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
        <td>{{row[4]}}</td>
        <td>{{row[5]}}</td>
        <td>{{row[3]}}</td>
      </tr>
      {% endfor %}
      </tbody>
    </thread>
</table>

</html>
