<!-- this is the creating of the page -->
<html>
  <!-- this is setting the backround color of the page -->
  <body style="background-color:rgb(159, 214, 231);"> 
    <!-- this is for the title -->
    <center><h1 style="font-size: 3rem; color: #000000"> View Players</h1></center>
    <!-- this is a button for returning to the privouse page -->
    <a href="coach" style="font-size: 2rem; color: #ff0000"> Back </a>
    <!-- the br 's are all spacers for style and looks -->
    <br>
    <br>
    <!-- This creates a box for users to insert a teamID and get that teams stats -->
    <center><form action = "{{ url_for('team_option') }}" style="font-size: 4rem; color: #000000" method = "post">Choose TeamID to view their Stats: </a>
      <br>
      <label for="teamID">
        <i class="fas fa-user"></i>
      </label>
      <input style="font-size: 2rem; color: #000000" type="text" name="teamID" placeholder="TeamID" id="teamID" required>
      <input style="font-size: 2rem; color: #000000" type="submit" value='submit'>
      <div class="msg">{{ msg }}</div>
    </form></center>
    <!-- the br 's are all spacers for style and looks -->
    <br>
    <br>
    <!-- Creates a table with all relavant information of a team -->
    <center><table style="font-size: 2rem; color: #000000">
      <tr>
        <th>TeamID</th>
        <th>Team Name</th>
        <th>Team City</th>
        <th>Total Goals</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>CoachID</th>
      </tr>
      {% for row in teams %}
      <tr>
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
        <td>{{row[3]}}</td>
        <td>{{row[4]}}</td>
        <td>{{row[5]}}</td>
        <td>{{row[6]}}</td>
      </tr>
      {% endfor %}
    </table></center>
  </body>
</html>
