<!-- this is the creating of the page -->
<html>
  <!-- this is setting the backround color of the page -->
  <body style="background-color:rgb(159, 214, 231);"> 

    <h1> View Stats for {{teamName }} with teamID: {{teamID }}</h1>
    <a href="coach"> Home </a>
    <br>
    <a href="team_option"> Back </a>

    <br>
    <br>
    <!-- displays a table for the user to see current teams stats -->
    <center><table>
      <tr>
        <th>playerID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Position</th>
        <th>Goals</th>
      </tr>
      {% for row in data %}
      <tr>
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
        <td>{{row[3]}}</td>
        <td>{{row[4]}}</td>
      </tr>
    {% endfor %}

    </table></center>
  </body>
</html>
