<!-- this is the creating of the page -->
<html>
  <!-- this is setting the backround color of the page -->
  <body style="background-color:rgb(159, 214, 231);"> 
    <!-- this is for the title -->
    <center><title style="font-size: 3rem; color: #000000">View All Goals</title></center>
    <center> <h1 style="font-size: 3rem; color: #000000">Here is every goal that has been scored in the league!</h1></center>
   <!-- this is a button for returning to the privouse page -->
    <a href='coach' style="font-size: 2rem; color: #ff0000">Back</a>
    <!-- displays a table for the user to view all goals -->
    <center><table>
      <thread>
        <tr>
          <th>GameID</th>
          <th>GoalID</th>
          <th>Player Name</th>
          <th>Team Name</th>
        </tr>
        <tbody>
        {% for row in records %}
        <tr>
          <td>{{row[0]}}</td>
          <td>{{row[1]}}</td>
          <td>{{row[2]}}</td>
          <td>{{row[3]}}</td>
        </tr>
        {% endfor %}
        </tbody>
      </thread>
    </table></center>
  </body>
</html>
